@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600;900&family=Poppins:wght@300&display=swap');

body {
    margin-left: 30px;
    font-family: 'Inter', sans-serif;
}

header{
    display: flex;
    align-items: center;
}

.mainDiv {
    display: inline-block;
    height: 330px;
}

main {
    display: inline-block;
    margin-left: 100px;
}

#logoID,
.topDiv,
.liTopList,
.topList {
    display: flex;
    justify-content: space-between;
    padding-right: 28px;
    color: hsl(236, 13%, 42%);
    margin-bottom: 10px;
}

.topDiv{
    width: 95%;
}

.topList {
    box-sizing: border-box;
    padding-right: 50px;
}

#logoID {
    width: 50px;
    height: 40px;
}

.image {
    background-image: url("./image-web-3-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 700px;
    height: 257px;
    display: block;
}

.asideDiv {
    display: inline-block;
    background-color: hsl(240, 100%, 5%);
    width: 300px;
    box-sizing: border-box;
    margin: 0px 0px 20px 40px;

}

.asideH3 {
    color: hsl(35, 77%, 62%);
    font-weight: 1000;
    margin-left: 10px;
}

.asideSubtitle,
.topicsText {
    color: white;
    margin-left: 12px;
    margin-right: 12px;
}

#topic2,
#topic3 {
    padding-bottom: 15px;
    border-bottom: 1px solid white;
}

#middleText {
    width: 150px;
    display: inline-block;
    margin-top: 20px;
}

.middleP {
    display: inline-block;
    font-family: "Poppins";
    font-size: 15px;
    padding-left: 80px;
    height: 70px;
    width: 370px;
}

.middleH2 {
    display: inline-block;
    margin-bottom: 50px;
    width: 200px;
    font-weight: bold;
    font-size: 35px;
    color: hsl(240, 100%, 5%);

}

#middleButton {
    display: flex;
    justify-content: space-between;
    background-color: hsl(5, 85%, 63%);
    padding: 10px 35px 10px 35px;
    border: hsl(35, 77%, 62%);
    color: hsl(36, 100%, 99%);
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    box-sizing: border-box;
}

.footerImage {
    margin-top: 20px;
    width: 110px;
    height: 130px;
}

.footerP {
    font-size: 8px;
    display: block;
}

#footerP1 {
    width: 240px;
    display: block;
}

.footerTxt {
    box-sizing: border-box;
    padding-left: 10px;
    width: 10rem;
}

#bigFooter {
    display: flex;
}

#iconeGithub {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 3rem;
}

.footerNmb {
    color: hsl(233, 8%, 79%);
}

.footerSubtitle {
    color: hsl(236, 13%, 42%);
}

h4[class='footerSubtitle']:hover,
.liTopList:hover {
    cursor: pointer;
    color: hsl(5, 85%, 63%);
}

.asideSubtitle:hover {
    color: hsl(35, 77%, 62%);
    cursor: pointer;
}

#middleButton:hover {
    background-color: hsl(240, 100%, 5%);
    cursor: pointer;
}

.attribution {
    font-size: 12px;
    margin-left: 380px;
}

.popUpImgsContent {
    display: block;
}

.popUpImgs {
    margin-left: 190px;
}

.popUpTxt {
    width: 400px;
    margin-left: 110px;
}

#spanPopUp {
    display: block;
    margin-left: 110px;
}

#spanPopUp2 {
    margin-left: 87px;
}

.bigDivNew {
    opacity: 0.6;
}

#closePopUpImg {
    width: 30px;
    height: 30px;
    margin-left: 400px;
    margin-bottom: 10px;
    cursor: pointer;
}

dialog {
    border: none;
    border-radius: 28px;
}

.checkbox{
    display: none;
}

@media (max-width: 1200px) {
    .middleH2 {
        display: block;
        margin: 30px 0px 20px 0px;
    }

    .middleP {
        padding: 0px;
        width: 260px;
    }

    .asideDiv {
        margin-top: -290px;
        margin-left: 370px;
    }

    .footer {
        width: 200px;
        display: block;
        margin: 0px 10px 0px 0px;
    }

    #footerSubtitle,
    .footerSubtitle,
    #footerP1 {
        width: auto;
    }
    header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 80%;
    }
    main{
        margin: 0px;
    }
    .attribution {
        display: none;
    }
}
@media (max-width: 750px){

    .topList{
        display: none;
    }
    .topDiv{
        display: flex;
        justify-content: space-between;
    }
 
    #logoID{
        width:30px;
        height: 20px;
    }
    .image{
        width: 500px;
        height: 200px;
    }
    .asideDiv{
        display: flex;
        width: 500px;
        margin-top: 50px;
        margin-left: 0px;
        font-size: 12px ;
    }
    .asideH3{
        display: block;
    }
    #topic2,
    #topic3{
        border-right: 1px solid #fff;
        border-bottom: none;
    }
    .checkbox:checked~.topList {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: baseline;
        position: absolute;
        top: 4%;
        right: 0;
        padding-top: 100px;
        z-index: 1;
        background-color: #e6dfec;
        width: 100%;
        height: 300%;
        border-radius: 18px;
        font-weight: bold;
    }
    #iconeGithub{
        margin-left: 0px;
    }
    .menuBtn{
        display: inline-block;
        font-weight: bold;
    }
}

@media (max-width: 570px){
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .image{
        width: 300px;
        background-size: cover;
    }
    .asideDiv{
        display: inline-block;
        width: 300px;

    }
    #topic2,
    #topic3{
        border-bottom: 1px solid #fff;
        border-right: none;
    }
    #bigFooter{
        display: block;
    }
    .footer{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 250px;
        width: 300px;
        margin-left: 0px;
    }
    .footerImage{
        height: 180px;
        width: 130px;
    }
}